.google-image {
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#search_bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 20px;
    width: 30%;

}
.flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#google_button{
    margin-right: 10px;
}
/* Navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    
  }
  
  a {
    text-decoration: none;
    color: rgb(69, 69, 70)
   }
   
   a:hover {
    text-decoration: underline;
    }
   
   nav {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   display: flex;
   display: inline;
   justify-content: space-between;
   margin: 2px 20px 20px 20px;

   
     }
   
   .navbar {
    margin: 10px;
    }
   
    #rightnav {
      float: right;
    }
   
    #leftnav {
      float: left;
    }

  /* Footer style */

  footer li {
    float: left;
    ;
  }

  footer li a {
    display: block;
    color: rgb(107, 105, 105);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  /* Change the link color to #111 (black) on hover */
   footer li a:hover {
    color:black;
  }

  .footer {
      position: fixed;
      bottom: 0;
      left: 0px;
      width: 100%;
      background-color: rgb(245, 245, 245);
  }
  .flex_footer {
    margin-left:  20px;
  }
  
 