/*Image style */
.google-image {
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/*button style */

#search_bar:focus {
  outline: none;
 }

 #search_bar:hover{
   box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
 }

 .input {
   padding-left: 20px !important  ;
 }
#search_bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 35px;
    width: 37%;
    border-radius: 25px;
   display: flex;
   border: 1px solid lightgrey;
  

}
.flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#google_button{
    margin-right: 20px;
    border-radius: 15px;
   border: 1px solid rgb(247, 247, 247);
   height: 35px;
   background-color: rgb(247, 247, 247);
   text-decoration-color: rgb(233, 233, 233);
   color: gray;
   width: 120px;
}

#google_lucky{
  margin-right: 20px;
  border-radius: 15px;
 border: 1px solid rgb(247, 247, 247);
 height: 35px;
 background-color: rgb(247, 247, 247);
 text-decoration-color: rgb(233, 233, 233);
 color: gray;
 width: 120px;
}

#google_lucky:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

#google_button:hover{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
/* Navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    
  }
  
  a {
    text-decoration: none;
    color: rgb(69, 69, 70)
   }
   
   a:hover {
    text-decoration: underline;
    }
   
   nav {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   display: flex;
   display: inline;
   justify-content: space-between;
   margin: 2px 20px 20px 20px;

   
     }
   
   .navbar {
    margin: 10px;
    }
   
    #rightnav {
      float: right;
    }
   
    #leftnav {
      float: left;
    }

  /* Footer style */

  footer li {
    float: left;
    ;
  }

  footer li a {
    display: block;
    color: rgb(107, 105, 105);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  /* Change the link color to #111 (black) on hover */
   footer li a:hover {
    color:black;
  }

  .footer-main-container {
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 100%;
      background-color: rgb(245, 245, 245);
      padding-top: 18px;
  }
  .flex_footer {
    margin-left:  20px;
  }
  
 .footer-main-container {
   bottom: 0;
 }

 
 